## Arithmetic Operations

In [20]:
2 + 3 + 8

13

In [21]:
99 - 76

23

In [22]:
23.45 + -456.98

-433.53000000000003

In [23]:
100 / 7

14.285714285714286

In [24]:
100 // 7
# get qoutient without decimal part

14

In [25]:
100 % 7
# get remainder

2

In [26]:
5 ** 6

15625

Certain operators like / and * take precedence over other operators like + and -, you can use parenthesis to specify the order in which operations are performed

In [27]:
(2 + 4) * (23 - 7) / 4 ** 8

0.00146484375

## A grocery store sells a bag of ice for $1.25, and makes 20%  profit. If it sells 500 bags of ice, how much total profit does it makes ?

cost of icebag ($) = 1.25

profit margin = 20% = 0.2

profit per bag = cost of a bag * profit margin  1.25 * 0.2

No of bags = 500

Total profit = no of bags * profit per bag = 500 * (.2 * 1.25)

In [28]:
500 * (.2 * 1.25)

125.0

Its not clear by looking at the code what each value represents, we can give name to each oof the numbers byusing Python variable

## Variables: Variables are containers for storing data. The data stored within a variable is called its value. 

variable need to single words, not starting with numbers

In [37]:
cost_of_ice_bag = 1.25

In [30]:
profit_margin = .2

In [31]:
number_of_bags = 500

In [32]:
# you can check the value by typing its variable name in code cell
cost_of_ice_bag
number_of_bags

500

In [33]:
profit_per_bag = cost_of_ice_bag * profit_margin
profit_per_bag

0.25

In [34]:
total_profit = number_of_bags * profit_per_bag
total_profit
# You can use the same code by just chnaging the value of variable if values of prolem is changed

125.0

If you don not assign a value to variable after defining you will get an error

In [35]:
revenue
# You can still proceed in jupitor if encountered err

NameError: name 'revenue' is not defined

Let us print the result with friendly message using print function - built in python function.

### Function: A function is a reusable set of instructions. A function takes one or more input, performs operations and often returns an output. You can define your own functions in Python

In [38]:
print("The grocery store makes a total profit of $", total_profit)

The grocery store makes a total profit of $ 125.0

the print() is used to display information, the information to be displayed must be enclosed within quotaion else python will treat it as variable and print iits value, the separator between text to print and variable is ','.

It can take more inputs such as text, numbers, variables, and functions.

Using # character, we can add comments to our code. Comments and blank spaces are ignored by Python

### Evaluating conditions using Python

Apart from arithmetic , Python provide us a way for comparing numbers and variables by providing comparison operator.
They take two operands 

operator   
==             checks if operands are equals

!=             checks if operands are not equal

>              checks if left operand is greater than right  

<              checks if left operand is less than right  

>=             left greater than or equal to right?

<=             left less than or  equal to right ?

### The result of these operators are True or False (uppercase T or F)

In [39]:
my_fav_number  = 5
my_least_fav_number = 9
neutral_number = 3

In [40]:
my_fav_number == 5

True

In [42]:
my_fav_number == my_least_fav_number

False

In [43]:
my_least_fav_number != my_fav_number

True

In [44]:
my_least_fav_number <= 9

True

In [45]:
my_least_fav_number < my_fav_number

False

In [46]:
is_ice_bag_expensive = cost_of_ice_bag >= 10
print("Is ice bag expensive ? ", is_ice_bag_expensive)

Is ice bag expensive ?  False

### Combining conditions with logical operators
and, or operates on two conditions and True / False values(booleans) whereas not operates on one.

* and -> returns true if and only if both the conditions are true

* or -> returns true if atleast one condition is true

* not -> returns true if condition is false and vice versa.

Markdown 

*italic*
**bold** 
[this is a link](https....)
![](img url)

In [47]:
False or True
not False

True

## Variables and Data types

more on variables -> It is created using assignment operator (separate from == equility comparison operator) followed by value

you can define multiple variables on a single line

you can assign the same value to multiple variables by chaining multiple assignment operators

you can change the value stored in a variable by simply assigning it

#### naming conventions

A variablename mustbe short and can only contain lowercase or uppercase letters, numbers or underscores.

they cannot start with number

variable names are case-sensitive meaning a_num and A_num are diffirent

In [48]:
color1, color2, color3 = "red", "green", "yellow"
color2

'green'

In [49]:
color4 = color5 =  color6 = "magneta"
color6

'magneta'

In [50]:
color6 = "black"
color6

'black'

In [51]:
counter = 6
counter += 4
counter

10

A variables type can be checked using *type()* function

In [52]:
print(type(color3))
print(type(is_ice_bag_expensive))
print(type(counter))

<class 'str'>
<class 'bool'>
<class 'int'>

### Built-In data types

#### Primitives
* Integer
* Float 
* Boolean
* String
* None

##### Non-Primitives
* List
* Tuple
* Set
* Dictionary

primitive data types represents single value while non premitivesare often called data structures or containers because they hold multiple peices of data together.

Integer -> represents positive / negative whole numbers, from -ve infinity to infinity. They should not include decimal points.
They have type *int*

there is no restriction of lowest of highest values on integers in Python

In [54]:
my_int = -87672683597413698084652657765398741256335
print(type(my_int))

<class 'int'>

Floats -> They are numbers with a decimal points. No limit onthe value of float or decimal points. Represented as type *float*

In [55]:
pi = 3.14159235748374934783484638463
type(pi)

float

*Note* A whole number is treated as a float if it is written with a decimal point. Any number with a decimal point whether its 0  is a float in Python'

In [56]:
a_num = 3.0
type(a_num)

float

In [57]:
another_float = 4.
type(another_float)

float

#### Floats can be converted into integer and vice versa using *float()* and *int()* functions. This operation is called type casting

In [58]:
int(a_num)

3

In [59]:
float(counter)

10.0

While performing arithmetic operations integers are automatically converted into floats if any of the operands is float.

/ operator will always returns float

Use // if u want the result of diivision to be an int

In [60]:
type( 3 * 9.5)

float

In [61]:
type(4 * 3)

int

In [62]:
type(4 / 6)

float

In [63]:
type(11 // 2)

int

**Boolean**: Reprents two values True or False, they have type *bool*

They are returned as a result of comparison operator

In [64]:
is_today_sunday = 2 < 3
is_today_sunday

True

Booleans are automatically converted into int when used in arithmetic operations

*True* is to 1
*False* is to 0

In [65]:
5 + True

6

In [66]:
5 - False

5

In [67]:
3. + True

4.0

Any value can be converted to ab boolean using bool function

The following values evaluate to false:
 1. False itself
 2. The int 0
 3. The float 0.0
 4. The empty value None
 5. the empty text ""
 6. the empty list []
 7. The empty dictionary {}
 8. the empty set set()
 9. The empty tuple ()
 10. The empty range range(0)

Everything else evaluates to True

In [68]:
bool({})

False

#### **None**

Includes a single value *None*. Used to indicate the absense of value. To declarre a variable whose value may be assigned later

In [69]:
nothing = None
type(nothing)

NoneType

#### **String**

A string is used to present text. Strings must be surrounded using quotations(either single '' or double ""). 
It is a string or sequence of chars

They have the type *str*

In [70]:
today = "Today is Wednesday"
type(today)

str

You can use single quotes inside a string written in double quotes, and vice versa

escape the single quote within string inside another single quotation by prefixing it with / to disable treating it as closing.
Same for double quotation

In [71]:
my_fav_movie = 'One flew over the Cuckoo\'s nest'
my_fav_movie

"One flew over the Cuckoo's nest"

String created using a single or double quotes must begin and end on same line. To create multiline strings, use three string quotes '''' or """

Line breaks are using \n

In [72]:
my_day = """Today I spent my day by travelling across village


where I found a small cute rabbit roaming around its mother

They call it as \"meru\" """

print(my_day)
#explore this

Today I spent my day by travelling across village


where I found a small cute rabbit roaming around its mother

They call it as "meru"

String despite of being a primitive has its own bunch of buil in functions

Characters like \n and \(escaped) counted as a single character

In [73]:
multiline = """a
b"""

multiline

'a\nb'

In [74]:
len(multiline)

3

In [75]:
len(my_day)

136

A string can be converted into list using *list()* function to show a collection of characters

In [76]:
list(today)

['T',
 'o',
 'd',
 'a',
 'y',
 ' ',
 'i',
 's',
 ' ',
 'W',
 'e',
 'd',
 'n',
 'e',
 's',
 'd',
 'a',
 'y']

We can access individual characters within a string using [] indexing notation, can go from 0 to n - 1 where n is str length

In [77]:
today[15]

'd'

#### You can access a part of string by providing a start:end range instead of a single index[]

In [78]:
today[5:18]

' is Wednesday'

#### You can check whether the string contains some specific text using *in* operator

In [79]:
'day' in today

True

##### Two or more strings can be concatinated using + operator

In [80]:
full_name = "Anshuja Gajbhiye"
greeting = "Welcome"
greeting + full_name

'WelcomeAnshuja Gajbhiye'

In [81]:
greeting + " " + full_name + "!"

'Welcome Anshuja Gajbhiye!'

Strings have multiple built-in methods that manipulates them
  Methods : Methods are functions associated with data types. They are accessed using . notation eg *variable_name.method()*

.lower(), .upper() or capitalize() are used to change the case of characters

In [82]:
"monday is my fav".capitalize() 
# Converts first character of sentense to uppercase

'Monday is my fav'

In [83]:
"monday".upper()

'MONDAY'

.replace() is used to replace a part of the string with another string.

It takes portion to be replaced and replacement string as an argument

Note that a new string is returned, the original one is not modified

In [84]:
another_day = "thursday".replace("thurs", "fri")
another_day

'friday'

.split() method can be used to split a string into a list of strings based on character(delimeter) provided

In [85]:
"Sum,Mon,Tues,Wed,Fri,Sat,Sun".split(",")

['Sum', 'Mon', 'Tues', 'Wed', 'Fri', 'Sat', 'Sun']

.strip() is used to remove the whitespaces character from the beginning and end of a string

In [86]:
"      This contains extra spaces    ".strip()

'This contains extra spaces'

*.format()* method is used to combine values of other data types such as float, nteger, boolean etc with Strings. It is often used to create output message to display.

In [87]:
output_template = """If a grocery store sells ice bag at $ {} per bag with a profit margin of $ {} %, 
then the total profit it makes by selling $ {} ice bag is $ {}"""

print(output_template)

If a grocery store sells ice bag at $ {} per bag with a profit margin of $ {} %,
then the total profit it makes by selling $ {} ice bag is $ {}

In [88]:
#Inserting values into string using format
cost_of_ice_bag = 1.25
profit_margin = 0.2
number_of_bags = 500

total_profit = number_of_bags * profit_margin * cost_of_ice_bag
output_msg = output_template.format(cost_of_ice_bag, profit_margin * 100, number_of_bags, total_profit)

#always use print when """"
print(output_msg)

If a grocery store sells ice bag at $ 1.25 per bag with a profit margin of $ 20.0 %,
then the total profit it makes by selling $ 500 ice bag is $ 125.0

Simpler way than format is to use string concating operator to combine string with other values, 
*Those values must be converted into string first using str() method*

In [89]:
"If a grocery store sells ice bag at "+ str(cost_of_ice_bag)+"per bag with a profit margin of" + str(profit_margin) + ", then the total profit it makes by selling $ "+str(number_of_bags)+" ice bag is $ "+str(total_profit)

'If a grocery store sells ice bag at 1.25per bag with a profit margin of0.2, then the total profit it makes by selling $ 500 ice bag is $ 125.0'

str() takes any data value and convert it into string

String also   support comparison operators == nd !=

In [90]:
"Leo" == "John"

False

In [91]:
"John" != "Neo"

True

### **List**

A list is an ordered collection of values.

List can hold values of different data types, and support operations like add, remove and chnage values.

They have type *list*.

Enclose a list of values in [ and ], separated by commas

In [92]:
fruits = ["apple", "banana", "grapes"]
fruits

['apple', 'banana', 'grapes']

In [93]:
type(fruits)

list

A list can contain diff data types including another list -> list of list

In [94]:
a_list = [23, 'Hello', None, 3.67, fruits, 34 > 9]
a_list

[23, 'Hello', None, 3.67, ['apple', 'banana', 'grapes'], True]

In [95]:
empty_list = []

Similar to str, you can check the no of items in list using *len()*

In [96]:
print("Number of fruits: ", len(fruits))
# , is a separator

Number of fruits:  3

Access the elements of a list using the *index* of element, starting from the index 0

In [97]:
fruits

['apple', 'banana', 'grapes']

In [98]:
fruits[1]

'banana'

index number can access any integer value, but positive values must be from 0 to len(list) - 1 else you get IndexError

Negative indexing starts with -1 from end item to first item

In [99]:
fruits[-1]

'grapes'

Index Slicing

In [100]:
a_list = [23, 'Hello', None, 3.67, fruits, 34 > 9]
a_list[2:6] # 6 is non inclusive , meaning only values at indx 2, 3, 4, 5

[None, 3.67, ['apple', 'banana', 'grapes'], True]

In [102]:
a_list[:4]

[23, 'Hello', None, 3.67]

In [101]:
a_list[-5: -3]

['Hello', None]

In [103]:
a_list[-2: -6] # empty , cant access items in reverse

[]

In [104]:
a_list[3:] # till last item

[3.67, ['apple', 'banana', 'grapes'], True]

Change the value at specific index using assignment operator

In [105]:
fruits

['apple', 'banana', 'grapes']

In [106]:
fruits[2] = "kiwi"
fruits

['apple', 'banana', 'kiwi']

In [107]:
fruits[5] = "banana"

IndexError: list assignment index out of range

A new value can be added to the end of ist using *.append()* method of list

In [113]:
fruits.append("papaya")
fruits
# I ran it for 5 times more, more 5 papaya appended

['apple',
 'banana',
 'kiwi',
 'papaya',
 'papaya',
 'papaya',
 'papaya',
 'papaya',
 'papaya']

Instead of end, a new value can be inserted at a specific index using *.insert()*

In [114]:
fruits.insert(4, "Pineapple")
fruits

['apple',
 'banana',
 'kiwi',
 'papaya',
 'Pineapple',
 'papaya',
 'papaya',
 'papaya',
 'papaya',
 'papaya']

You can remove element using *.remove()*

If a value has multiple instances then only first instance is removed

In [115]:
fruits.remove("papaya")
fruits

['apple',
 'banana',
 'kiwi',
 'Pineapple',
 'papaya',
 'papaya',
 'papaya',
 'papaya',
 'papaya']

To remove element from a specific index, use *.pop(index)* method

In [116]:
fruits.pop(5)

'papaya'

In [117]:
fruits

['apple',
 'banana',
 'kiwi',
 'Pineapple',
 'papaya',
 'papaya',
 'papaya',
 'papaya']

You can check id certain value isa part of list or not using *in* operator

In [118]:
"cheeku" in fruits

False

In [119]:
"kiwi" in fruits

True

To combine two or more list use + operator, this is called list concatination

In [120]:
fruits

['apple',
 'banana',
 'kiwi',
 'Pineapple',
 'papaya',
 'papaya',
 'papaya',
 'papaya']

In [121]:
more_fruits = fruits + ["tomato", "guava"] + ["mango", "dates", "orange"]
more_fruits

['apple',
 'banana',
 'kiwi',
 'Pineapple',
 'papaya',
 'papaya',
 'papaya',
 'papaya',
 'tomato',
 'guava',
 'mango',
 'dates',
 'orange']

To create a copy of list , use *.copy()* method

1. reverse the order of elements in a list

  using reverse() which reverse a list, reversed() does same but returns an iterator
  using slicing [start: stop: step] = [ : : -1] python assumes starts to be end of list, stop to be beggining of list
  step = -1, it tells how to move through list, if +1 then move forward(left to right), and if -1 then moves backward(right to left)
  start from the end, move one step backward eac time and stop before begining

In [122]:
a_list.reverse()
a_list

[True,
 ['apple',
  'banana',
  'kiwi',
  'Pineapple',
  'papaya',
  'papaya',
  'papaya',
  'papaya'],
 3.67,
 None,
 'Hello',
 23]

In [123]:
fruits[: : -1]

['papaya',
 'papaya',
 'papaya',
 'papaya',
 'Pineapple',
 'kiwi',
 'banana',
 'apple']

2. Add the element of one list to the end of the list

In [124]:
fruits.append(a_list[4])
print(fruits)

['apple', 'banana', 'kiwi', 'Pineapple', 'papaya', 'papaya', 'papaya', 'papaya', 'Hello']

3. Sort the list of strings in a alphabetical order

Using .sort() method, list.sort(reverse = True) inplace sort it modifies the original list
Using sorted function, sorted(list) which craates a new sorted list without modifying original

In [125]:
frt = ['apple', 'banana', 'kiwi', 'Pineapple', 'Pineapple', 'papaya']
frt.sort(reverse=False)
frt

['Pineapple', 'Pineapple', 'apple', 'banana', 'kiwi', 'papaya']

In [126]:
new_frt = sorted(frt, reverse=True)
new_frt

['papaya', 'kiwi', 'banana', 'apple', 'Pineapple', 'Pineapple']

4. Sort the list of numbers in decsreasing order

In [127]:
num_list = [2, 3, 4, 5, 6]
num_list.sort(reverse=True)
num_list

[6, 5, 4, 3, 2]

#### **Tuple**

A tuple is an ordered collection of values.

Unlike list, tuples are immutable, It is not possible to add, remove , or odify values in tuples

Created by enclosing values in paraenthesis ( and )

Cannot be modifies after creation is called immutable, They are immutable list

In [128]:
fruits = ("apple", "mango", "banana")
type(fruits)

tuple

In [129]:
len(fruits)

3

In [130]:
fruits[2]

'banana'

In [132]:
"dats" in fruits

False

In [134]:
fruits.append("Blueberry") # less flexible than list

AttributeError: 'tuple' object has no attribute 'append'

In [135]:
single_element_tuple = 4, 
type(single_element_tuple)

tuple

In [136]:
new_tuple = tuple([2, 4, 'shhjh'])
new_tuple

(2, 4, 'shhjh')

In [137]:
print(list(new_tuple))

[2, 4, 'shhjh']

Tuple has two built in functions count and index.

Signature: a_list.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

#### **Dictionary**

A dictionary is an unordered collection of items. Each item has a key and value. key are used to retrieve values from the dictionary so they must be unique.

they have type *dict*, created byenclosing key-value pairs within { }

keys are lookup table, they are strings, they are just like index pointing to value

In [138]:
person1 = {
    "name" : 'John Fisher',
    "sex": 'Male',
    "age" : 25,
    "married": True
}

person1

{'name': 'John Fisher', 'sex': 'Male', 'age': 25, 'married': True}

Dictionaries can also be created using *dict* function

In [139]:
person2 = dict(name = "Kiara Juel", sex = "female", age = 23, married = False)
person2

{'name': 'Kiara Juel', 'sex': 'female', 'age': 23, 'married': False}

In [140]:
type(person2)

dict

keys can be used to access values using square brackets [ "keyname" ]

In [141]:
person2["name"]

'Kiara Juel'

In [142]:
person1['married']

True

the get method accepts a default value if the key is not presentin a dictionary

In [143]:
person1.get("address", "unknown")

'unknown'

You can check if the key is present using in operator

In [144]:
'age' in person2

True

Change the value associated with key using assignment operator

usingthe same you can add a new key value pair
dict["newKey"] = "newValue"

In [145]:
person2['married'] = True
print(person2)

{'name': 'Kiara Juel', 'sex': 'female', 'age': 23, 'married': True}

In [146]:
person2['address'] = 'I, Penny lane'

In [147]:
person2

{'name': 'Kiara Juel',
 'sex': 'female',
 'age': 23,
 'married': True,
 'address': 'I, Penny lane'}

use .pop('key') to remove a key with its associated value

In [148]:
person2.pop('age')
person2

{'name': 'Kiara Juel',
 'sex': 'female',
 'married': True,
 'address': 'I, Penny lane'}

Dicctionary buit - in methods to viiew thelist of keys, values or key-value pairs

In [149]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [150]:
person1.values()

dict_values(['John Fisher', 'Male', 25, True])

In [151]:
person1.items()

dict_items([('name', 'John Fisher'), ('sex', 'Male'), ('age', 25), ('married', True)])

In [152]:
person1.items()[1]

TypeError: 'dict_items' object is not subscriptable

1. Keys must  be unique. If you attempt to create a dictionary with the same key multiple times, the value associated with the last ocuurance of key will overwrite prev value

In [153]:
my_dict = {
    "name" : "Taksha",
    "age": 20,
    "name": "Amiksha"
}

my_dict

{'name': 'Amiksha', 'age': 20}

2. There are two methods for creating copy -> copy() created shallow copy means changes made to copy will affect the original.
  deepcopy() method will create an independent copy.

In [155]:
copy_dict = my_dict.copy()

copy_dict['age'] = 22

copy_dict

{'name': 'Amiksha', 'age': 22}

In [156]:
my_dict

{'name': 'Amiksha', 'age': 20}

In [ ]:
my_dict = copy_dict
my_dict # this is shallow copy , two ref pointing to same obj

{'name': 'Amiksha', 'age': 22}

The keys of the dictionary can be something other than string They can be number , tuple , boolean

In [163]:
dictionary = {
    1: "integer",
    3.24: "float",
    (2, 5): "tuple",
    True: "boolean"
}

print(dictionary[1])

print(dictionary[(2,5)])

print(dictionary[True])

boolean
tuple
boolean

How can you add the key value pairs from one dictionary into another dictionary

In [166]:
person1[list(person2.keys())[3]] = person2['address']
person1

{'name': 'John Fisher',
 'sex': 'Male',
 'age': 25,
 'married': True,
 'address': 'I, Penny lane'}